---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Nosotros"
	description="Un poco de quienes somos"
	pubDate={new Date('March 19 2023')}
	heroImage="/us.jpg"
>
	<p>
		Somos un equipo de tres speedcubers potosinos con buenos resultados y posiocionamiento
		destacable a nivel estatal y nacional. Somos experimentados en la resolución a velocidad
		de cubos de Rubik, aspecto escencial para ofrecer una buena calidad en el servicio.
	</p>

	<p>
		Buscamos apoyar a la comunidad ofreciendo un servicio de calidad al emplear
		lubricantes de calidad y permitir obtener las configuraciones de lubricación
		más cómodas para cada speedcuber. Nuestro servicio es accesible y óptimo para todos 
		los competidores que busquen ganar mejoría en su desempeño empleando lubricantes 
		de alto rendimiento sobre competición.
	</p>

	<p>
		El objetivo principal es escalar en alcance y realizar entregas interestatales,
		para en un futuro considerar ser distribuidor oficial de TheCubicle, de esta forma
		llegaremos a más competidores y seremos parte de la mejoría al usar un puzzle
		configurado para un alto desempeño con lubricantes de calidad.
	</p>

	<h3>
		Resultados personales
	</h3>
	<a href="https://www.worldcubeassociation.org/persons/2018BADI02" target="_blank">
		<p class="hover:text-blue-900"> - Carlos Emiliano Esquivel Badillo</p>
	</a>
	<a href="https://www.worldcubeassociation.org/persons/2018ROSA03" target="_blank">
		<p class="hover:text-blue-900"> - Eduardo Rafael Mendiola Rosas</p>
	</a>
	<a href="https://www.worldcubeassociation.org/persons/2011PARR03" target="_blank">
		<p class="hover:text-blue-900"> - Eduardo Gonzáles Parra</p>
	</a>

</Layout>
